<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory >
        <property name="hibernate.archive.autodetection">class</property>
        <!--<property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>-->
        <property name="hibernate.dialect" >org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="hibernate.connection.url" value="jdbc:h2:mem:test"/>
        <property name="hibernate.connection.url" value="jdbc:h2:file:C:\Users\KH\Downloads\EDS"/>-->
        <!--<property name="hibernate.connection.url" >jdbc:mysql://localhost:3306/seca2?rewriteBatchedStatements=true</property>
        <property name="hibernate.connection.username">seca2</property>
        <property name="hibernate.connection.password">seca2</property>-->
        <property name="hibernate.connection.datasource">jdbc/__default</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size" >20</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <!----><property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.autocommit">false</property>
        
    </session-factory>
</hibernate-configuration>