<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">
  <persistence-unit name="HIBERNATE" transaction-type="JTA">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    <!--<non-jta-data-source>jdbc/__default</non-jta-data-source>-->
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
        <property name="hibernate.archive.autodetection" value="class"/>
        <!--<property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>-->
        <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
        <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
        <!--<property name="hibernate.connection.url" value="jdbc:h2:mem:test"/>
        <property name="hibernate.connection.url" value="jdbc:h2:file:C:\Users\KH\Downloads\EDS"/>-->
        <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/seca2?rewriteBatchedStatements=true"/>
        <property name="hibernate.connection.username" value="seca2"/>
        <property name="hibernate.connection.password" value="seca2"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
        
    </properties>
  </persistence-unit>
  
  
</persistence>