<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/seca2-s2.taglib.xml</param-value>
    </context-param>
    <!--<context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>65535</param-value>
    </context-param>-->
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
    </context-param>
    <filter>
        <filter-name>Primefaces Fileupload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Primefaces Fileupload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping><!---->
    
    <!--non-JSF values-->
    
    <!--<context-param>
        <param-name>INSTALL</param-name>
        <param-value>tru</param-value>
    </context-param>-->
    
    <context-param>
        <param-name>RUN_MODE</param-name>
        <param-value>normal</param-value>
    </context-param>
    
    <context-param>
        <param-name>LOGIN_PATH</param-name>
        <param-value>/login</param-value>
    </context-param>
    
    <context-param>
        <param-name>PROGRAM_PATH</param-name>
        <param-value>/program</param-value>
    </context-param>
    
    <context-param>
        <param-name>INSTALLATION_PROGRAM_NAME</param-name>
        <param-value>test</param-value>
    </context-param>
    
    <context-param>
        <param-name>INSTALLATION_VIEWROOT</param-name>
        <param-value>/programs/test/layout.xhtml</param-value>
    </context-param>
    
    <context-param>
        <param-name>INSTALLATION_TEMPLATE_LOCATION</param-name>
        <param-value>/templates/mytemplate/template-layout.xhtml</param-value>
    </context-param>
    
    <context-param>
        <param-name>GLOBAL_VIEWROOT</param-name>
        <param-value>index.xhtml</param-value>
    </context-param>
    
    
    <!--This is here for development purpose only. Once the installer is setup, this will no longer be required-->
    <context-param>
        <param-name>GLOBAL_DEFAULT_PROGRAM</param-name>
        <param-value>test</param-value>
    </context-param>
    
    <context-param>
        <param-name>GLOBAL_DEFAULT_VIEWROOT</param-name>
        <param-value>/programs/test/layout.xhtml</param-value>
        <!--This is here for development purpose only. Once the installer is setup, this will no longer be required-->
    </context-param>
    
    <context-param>
        <param-name>DEFAULT_TEMPLATE_LOCATION</param-name>
        <param-value>/templates/beprobootstrap/template-layout.xhtml</param-value>
        <!--<param-value>/templates/mytemplate/template-layout.xhtml</param-value>-->
    </context-param>
        
    <context-param>
        <param-name>NO_AUTHORIZATION_VIEWROOT</param-name>
        <param-value>/programs/program/no_auth_view.xhtml</param-value>
    </context-param>
    
    <env-entry>
        <env-entry-name>US_USER</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>USER</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>US_USER_TYPE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>USER_TYPE</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>US_USER_ATTRIBUTES</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>USER_ATTRIBUTES</env-entry-value>
    </env-entry>
    
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--<multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/program/*</url-pattern>
        <!--<url-pattern>/login</url-pattern>-->
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3
        </session-timeout>
    </session-config>
    <!--<welcome-file-list>
        <welcome-file>program/index.xhtml</welcome-file>
    </welcome-file-list>-->
    <!--<context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>--> <!--when u store at client side, session object will not be auto created-->
    <!--</context-param>-->
    <!--<filter-mapping>
        <filter-name>Primefaces Fileupload Filter</filter-name>
        <servlet-name>facesServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->
    
</web-app>
